# BERT model + experiment pkls
models/exp6_aug15_gss.pkl
notebooks/BioM_BERT/models_pkl/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual envs
venv/
env/
.env
.venv

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

desktop.ini